.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.menu {
  max-width: 400px;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 50;
}

.nav-list {
  list-style: none;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px){
  
}
