.hero{
  width: 100%;
  position: relative;
  top: 80px;
  display: flex;
  background-color: #0F1624;
  padding: 120px 50px;
}

.hero-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-text h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: #fff;
}

.hero-text h1 span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: linear-gradient(to right, #ffffff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}

.social-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-links a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #00BFFF;
}

.hero-contact {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  width: 100%;
  position: relative;
  top: 80px;
  padding: 120px 50px;
  background-color: #1A2738;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.about-title h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  text-align: center;
}

.about-title h1 span {
  color: #00BFFF;
}

.about-text p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto 1.2rem auto;
}

.about-text .about-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-text .about-button {
  background-color: #00BFFF;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 191, 255, 0.2);
}

.about-text .about-button:hover {
  background-color: #00a3d7;
  transform: translateY(-2px);
}

.skills-section {
  width: 100%;
  position: relative;
  top: 80px;
  padding: 120px 50px;
  background-color: #0F1624;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.skills-section .skills-title h1{
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  text-align: center;
}

.skills-section .skills-title h1 span{
  color: #00BFFF;
}

.skills-description{
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto 1.2rem auto;
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 40px;
  min-width: 2000px;
  animation: scroll 20s linear infinite;
}

.carousel-track img {
  height: 80px;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.carousel-track img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.certificates-section {
  background-color: #1A2738;
  width: 100%;
  position: relative;
  top: 80px;
  padding: 120px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.certificates-title h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  text-align: center;
}

.certificates-title h1 span {
  color: #00BFFF;
}

.certificates-description{
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto 1.2rem auto;
}

.certificates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.certificate-card {
  background-color: #151F2E;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  border-left: 2px solid rgba(0, 191, 255, 0.2);
  border-right: 2px solid rgba(0, 191, 255, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-card:hover {
  transform: scale(1.02);
}

.certificate-logo {
  width: 80px;
  margin-bottom: 15px;
}

.certificate-text {
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
}

.certificate-button {
  background-color: #00BFFF;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 600;
  transition: background 0.3s;
}

.certificate-button:hover {
  background-color: #009acc;
}

.projects-section {
  background-color: #0F1624;
  width: 100%;
  position: relative;
  top: 80px;
  padding: 120px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.projects-title h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  text-align: center;
}

.projects-title h1 span{
  color: #00BFFF;
}

.projects-description {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto 1.2rem auto;
}

.project-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.project-card {
  background-color: #0F1624;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(0, 191, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
}
.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-info .card-title {
  color: #fff;
}

.project-info p {
  color: #CCC;
  font-size: 15px;
  margin-bottom: 15px;
}

.project-button {
  background-color: #00BFFF;
  color: #fff;
  padding: 10px 14px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}

.project-button:hover {
  background-color: #009acc;
}

.contact-section {
  background-color: #1A2738;
  width: 100%;
  position: relative;
  top: 80px;
  padding: 120px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.contact-section h1 {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif !important;
  font-weight: 200;
  text-align: center;
}

.contact-section h1 span {
  color: #00BFFF;
}

.contact-section p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto 1.2rem auto;
  text-align: center;
}

.contact-section small {
  display: block;
  font-size: 0.85rem;
  color: #00BFFF;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

.contact-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-links a {
  color: #ccc;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.contact-links a:hover {
  color: #00BFFF;
  text-decoration: underline;
}

/* Responsivo: Mobile */
@media screen and (max-width: 768px) {
  .hero {
    padding: 80px 20px;
    flex-direction: column;
    top: 70px;
    gap: 20px;
  }
  
  .hero-text {
    width: 100%;
  }
  
  .hero-contact {
    width: 100%;
  }
  
  .about-text {
    top: 70px;
    padding: 80px 20px;
  }
  
  .about-title h1{
    font-size: 1.8rem;
  }
  
  .skills-section {
    top: 70px;
    padding: 80px 20px;
  }
  
  .skills-section .skills-title h1 {
    font-size: 1.8rem;
  }
  
  .carousel-track img {
    height: 60px;
  }
  
  .certificates-section {
    top: 70px;
    padding: 80px 20px;
  }
  
  .certificates-title h1 {
    font-size: 1.8rem;
  }
  .certificate-logo {
    width: 60px;
  }
  
  .projects-section {
    top: 70px;
    padding: 80px 20px;
  }
  
  .projects-title h1 {
    font-size: 1.8rem;
  }
  
  .contact-section {
    top: 70px;
    padding: 80px 20px;
  }
  
  .contact-section h1{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 400px){
  .hero-text h1 {
    font-size: 2.6rem;
  }
}
