*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.form {
  max-width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  gap: 15px;
}

.form input {
  width: 250px;
  height: 45px;
  background-color: #262626;
  border: 1px solid #2a2a2a;
  color: #fff;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  padding-left: 10px;
}

.form input::placeholder {
  font-size: 1rem;
  color: #ccc;
}

.form button {
  width: 250px;
  height: 45px;
  background-color: #00BFFF;
  border-radius: 6px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.form button:hover {
  background-color: #00aee0;
}

.form button:disabled {
  background-color: #1F2633;
  border: 1px solid #2a2a2a;
  color: #ccc;
  cursor: not-allowed;
}

.form input::placeholder {
  color: #ccc;
}

/* Responsivo: Mobile */
@media screen and (max-width: 768px) {
  
}
