*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.form {
  max-width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  gap: 15px;
  margin: 0 auto;
}

.form input {
  width: 100%;
  height: 45px;
  background-color: #262626;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  padding-left: 10px;
}

.form input::placeholder {
  font-size: 1rem;
  color: #ccc;
}

.form button {
  width: 100%;
  height: 45px;
  background-color: #00BFFF;
  border-radius: 6px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.form button:hover {
  background-color: #00aee0;
}

.form button:disabled {
  background-color: #1F2633;
  color: #ccc;
  cursor: not-allowed;
}

.form input::placeholder {
  color: #ccc;
}

.input-valid {
  border: 1px solid #00c37a;
  outline: none;
}

.input-invalid {
  border: 1px solid #ff4d4f;
  outline: none;
}

/* Responsivo: Mobile */
@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
