* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.form {
  max-width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
<<<<<<< HEAD
  box-shadow: 0 0 6px rgba(0, 191, 255, 0.15),
0 0 10px rgba(0, 191, 255, 0.07);
=======
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
>>>>>>> 5c0a4d0a903de02af5c57dc23496969c0e0e5d1f
  border-radius: 8px;
  border: 1px solid rgba(0, 191, 255, 0.1);
  gap: 15px;
  margin: 0 auto;
}

.form input {
  width: 100%;
  height: 45px;
  background-color: #262626;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #fff;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  padding-left: 10px;
}

.form input::placeholder {
  font-size: 1rem;
  color: #ccc;
}

.success {
  color: #81c784;
}

.error {
  color: #e57373;
}

.input-valid {
  border: 2px solid #81c784 !important;
}

.input-invalid {
  border: 2px solid #e57373 !important;
}

.form button {
  width: 100%;
  height: 45px;
  background-color: #00BFFF;
  border-radius: 6px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.form button:hover {
  background-color: #00aee0;
}

.form button:disabled {
  background-color: #7ecbe6;
  cursor: not-allowed;
  opacity: 0.7;
}

.form input::placeholder {
  color: #ccc;
}

/* Responsivo: Mobile */
@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}